<% unless survey_completed?(current_user, @survey) %>
  <%= title "Taking Assignment: #{@survey.name}" %>
<div class="center">
<section id="survey_partial">
  <%= markdown "###{yield(:title)}" %>
  <%= form_tag take_surveys_path, :id => "take_survey_new", :method => :post do %>
    <ol>
    <% @survey.questions.each do |question| %>
      <% if current_user.responses.find_by_question_id(question.id).nil? %>
      <%= content_tag(:li, label_tag(:question, question.content)) %>
      <ol>
      <% question.answers.each do |answer| %>
        <%= content_tag_for(:li, answer) do %>
          <% unless current_user.responses.find_by_question_id_and_answer_id(question.id, answer.id).nil? %>
            <span class="my-response">
              <%= radio_button_tag "response[#{question.id}][answer_id]", "#{answer.id}", :checked => true %>
              <%= label_tag :answer, answer.content %>
            </span>
          <% else %>
            <% if question.allow_free_response %>
               <br /><%= text_area_tag "response[#{question.id}][content]", nil, :rows => 3, :cols => 40 %>
              <% else %>
                 <%= radio_button_tag "response[#{question.id}][answer_id]", "#{answer.id}", question.allow_free_response %>
                 <%= label_tag :answer, answer.content %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </ol>
      <br />
      <% else %>
        You have already answered :
        <%= label_tag :question, question.content %><br /><br />
      <% end %>
      <%= hidden_field_tag :survey_id, @survey.id %>
    <% end %>
    </ol>
    <div class="field">
      <%= submit_tag "Submit My Answers" %>
    </div>
  <% end %>
  </section>
  </div>
<% else %>
  <%= title "Assignment Completed: #{@survey.name}" %>
  <%= markdown "###{yield(:title)}" %>
  <div class="center">
    <section id="survey_partial">
    <%= markdown "# You have already completed this Assignment." %>
    </section>
  </div>
<% end %>
