<div class="center">
  <section id="user_form_partial">
<%= form_for @user, :method => :put, :html => {:id => 'edit_my_details'}, :url => update_my_details_path do |f|%>
  <%= render "shared/error_messages", :target => @user %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <%= render 'email_confirmed' %>
  </div>
  <%= render 'roles' %>
  <div class="actions">
    <%= f.submit "Update My Details" %>
  </div>
<% end %>
</section>
</div>
