<%= content_for :user_sort_links do %>
  <nav id="user_sort_links">
    <ul>
      <% if can? :list, :students %>
        <li><%= sortable "name", "students", "Show Students" %> |</li>
      <% end %>
      <% if can? :list, :advisors %>
        <li><%= sortable "name", "advisors", "Show Advisors" %> |</li>
      <% end %>
      <% if can? :list, :professors %>
        <li><%= sortable "name", "professors", "Show Professors" %> |</li>
      <% end %>
      <% if can? :list, :gods %>
        <li><%= sortable "name", "gods", "Show Gods" %></li>
      <% end %>
    </ul>
  </nav>
<% end %>
