<%= title "Confirm Email" %>
<%= markdown "###{yield(:title)}" %>
<div class="center">
  <section id="user_form_partial">
<%= form_for @user, :url => email_confirm_path(params[:id]) do |f| %>
  <%= render "shared/error_messages", :target => @user %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :disabled => :true %>
  </div>
  <div class="field">
    <%= f.hidden_field :email_confirmed, :value => :true %>
  </div>
  <div class="actions">
    <%= f.submit "Confirm" %>
  </div>
<% end %>
</section>
</div>
