<% #SPEC: 2.2.11 : Remove an existing question from a Survey(form) %>
<div class="fields">
  <p>
    <%= f.label :content, "Question" %>
    <%= link_to_remove_fields "remove", f %><br />
    <%= f.text_area :content, :rows => 3 %><br />
    <%= f.label :content, "Point Value" %>
    <%= f.text_area :points, :rows => 1 %><br />
  </p>
  <%= f.fields_for :answers do |builder| %>
    <%= render 'answer_fields', :f => builder %>
    <% end %>
    <p class="add_answer">
      <%= link_to_add_fields "Add Answer", f, :answers %>
    </p>
  <% #if :allow_free_response == false %>
</div>