 <% title "Edit Assignment" %>

<%= content_for :survey_edit_links do %>
  <% if can? :show, @survey %>
    <li>| <%= link_to "Show: #{@survey.name.inspect}", @survey %> |</li>
  <% end %>
  <% if can? :report, @survey %>
    <li><%= link_to "View Report for: #{@survey.name.inspect}", report_survey_path(@survey) %> |</li>
  <% end %>
  <% if can? :destroy, @survey %>
    <li><%= link_to "Destroy: #{@survey.name.inspect}", @survey, :class => "delete", :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
<% end %>

<%= render 'surveys/links' %>
<div class="center">
<section id="survey_partial">
  <%= markdown "##Editing Survey: #{@survey.name}" %>
  <%= render 'form' %>
</section>
</div>
