<% title "Showing Assignment" %>
<%= content_for :survey_show_links do %>
  <% if can? :edit, @survey %>
    <li>| <%= link_to "Edit: #{@survey.name.inspect}", edit_survey_path(@survey) %> |</li>
  <% end %>
  <% if can? :report, @survey %>
    <li><%= link_to "View Report for: #{@survey.name.inspect}", report_survey_path(@survey) %> |</li>
  <% end %>
  <% if can? :destroy, @survey %>
    <li><%= link_to "Destroy: #{@survey.name.inspect}", @survey, :class => "delete", :confirm => 'Are you sure?', :method => :delete %></li>
  <% end %>
<% end %>

<%= render 'surveys/links' %>

<div class="center">
  <section id="survey_partial">
  <%= markdown "##Showing Survey: #{@survey.name.inspect}" %>
  <table id="show_survey">
    <tr>
      <td>
      <ol>
        <% @survey.questions.each do |question| %>
        <%= content_tag(:li, label_tag(:question, question.content.inspect)) %>
          <ol>
            <% if question.allow_free_response %>
            <strong><%= t('surveys.questions.allow_free_response') %></strong>
            <% else %>
            <% question.answers.each do |answer| %>
              <%= content_tag_for(:li, answer) do %>
                <%= label_tag :answer, answer.content.inspect %>
              <% end %>
            <% end %>
          <% end %>
          </ol>
          <br />
        <% end %>
        </ol>
      </td>
    </tr>

    <tr>
      <td><%= markdown "**Published?: #{@survey.published}**" %></td>
      <td><%= markdown "**Due On:  #{@survey.due_date}**" %></td>
      <td><%= markdown "**Anonymous?: #{@survey.anonymous}**" %></td>
    </tr>
  </table>
  </section>
</div>
